{% extends "catalog/base.html" %}
{% load static %}

{% block bootstrap %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
{% endblock bootstrap %}

{% block menu %}
<ol class="header-menu">
{% endblock menu %}

{% block content %}
        <div class="wrapper">
            <div class="main-block-new-anime">
                <div class="main-block-inner">
                    <h1 class="block-title-h">Вы действительно хотите удалить аниме из списка?</h1>
                    <div class="main-block-login">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="main-block-delete-comm-buttons-row">
                                <button type="submit" class="btn btn-success">Подтверждаю</button>
                                <a class="main-block-delete-comm-buttons-row-back" href="{{ anime.get_absolute_url }}">Отмена</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

{% block jsc %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
                crossorigin="anonymous"></script>
{% endblock jsc %}   