{% extends "catalog/base.html" %}

{% block bootstrap %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
{% endblock bootstrap %}

{% block content %}
<div class="wrapper">
    <div class="main-block-new-anime">
        <div class="main-block-inner">
            <h1 class="block-title-h">Регистрация</h1>
            <div class="main-block-login">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.username.id_for_label }}" class="form-label">Логин</label>
                        {{ form.username }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password1.id_for_label }}" class="form-label">Пароль</label>
                        {{ form.password1 }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password2.id_for_label }}" class="form-label">Повторите пароль</label>
                        {{ form.password2 }}
                    </div>
                    <button type="submit" class="btn btn-success">Регистрация</button>
                </form>
                <p class="main-block-login-reg">Есть аккаунт? <a class="main-block-login-a"
                        href="#">Авторизация</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block jsc %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
crossorigin="anonymous"></script>
{% endblock jsc %}
