{% extends "catalog/base.html" %}

{% block content %}
<div class="wrapper">
    <div class="main-block-new-anime">
        <div class="main-block-inner">
            <h1 class="block-title-h">Список аниме</h1>
            <div class="main-block-inner-two">
                <div class="main-block-list-anime">
                    {% for anime in anime_list%}
                    <div class="main-block-list-anime-card">
                        <img class="main-block-list-anime-card-img" src="{{anime.poster_image.url}}"
                            alt="Logo">
                        <div class="block-margin">
                            <a class="main-block-list-anime-card-a" href="#">{{ anime.title }}</a>
                            <p class="main-block-list-anime-card-eng">{{ anime.title_eng }}</p>
                            <div class="main-block-list-anime-card-type-row">
                                <a class="main-block-list-anime-card-type-row-a" href="#">{{ anime.get_type_display }}</a>
                                <a class="main-block-list-anime-card-type-row-a" href="#">{{ anime.year }}</a>
                                <a class="main-block-list-anime-card-type-row-a" href="#">{{ anime.genres.all|join:", " }}</a>
                            </div>
                            <p class="main-block-list-anime-card-p">{{ anime.description_partial }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="main-block-filter">

                </div>
            </div>
            {% if is_paginated %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{page_obj.previous_page_number}}">«</a>
                    {% else %}
                        <a class="non-activate">«</a>
                    {% endif %}
                    {% for page in paginator.page_range %}
                        <a href="?page={{page}}">{{page}}</a>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="?page={{page_obj.next_page_number}}">»</a>
                    {% else %}
                        <a class="non-activate">»</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
