{% extends "catalog/base.html" %}

{% block bootstrap %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
{% endblock bootstrap %}

{% block menu %}
    <ol class="header-menu">
{% endblock menu %}

{% block content %}
<div class="wrapper">
    <div class="main-inner-double">
        <div class="main-block-anime-detail">
            <div class="main-block-anime-detail-left">
                <img class="main-block-anime-detail-left-img" src="{{ anime.poster_image.url }}" alt="Logo">
                <form method="POST">
                    <span class="custom-dropdown big">
                        <select>
                            <option>Не просмотрено</option>
                            <option>Просмотрено</option>
                            <option>Запланировано</option>
                        </select>
                    </span>
                </form>
                <div class="rating-area">
                    <input type="radio" id="star-5" name="rating" value="5">
                    <label for="star-5" title="Оценка «5»"></label>
                    <input type="radio" id="star-4" name="rating" value="4">
                    <label for="star-4" title="Оценка «4»"></label>
                    <input type="radio" id="star-3" name="rating" value="3">
                    <label for="star-3" title="Оценка «3»"></label>
                    <input type="radio" id="star-2" name="rating" value="2">
                    <label for="star-2" title="Оценка «2»"></label>
                    <input type="radio" id="star-1" name="rating" value="1">
                    <label for="star-1" title="Оценка «1»"></label>
                </div>
            </div>
            <div class="main-block-anime-detail-right">
                <h1 class="main-block-anime-detail-right-h">{{ anime.title }}</h1>
                <p class="main-block-anime-detail-right-desc">{{ anime.title_eng }}</p>
                <div class="line"></div>
                <div class="main-block-anime-detail-right-main">
                    <div class="main-block-anime-detail-right-main-left">
                        <p class="p-item p-item-color">Тип</p>
                        {% if anime.get_type_display == 'Сериал' %}
                        <p class="p-item p-item-color">Эпизоды</p>
                        {% else %}
                        <p class="p-item p-item-color">Длительность</p>
                        {% endif %}
                        <p class="p-item p-item-color">Статус</p>
                        <p class="p-item p-item-color">Год</p>
                        <p class="p-item p-item-color">Жанры</p>
                        {% if anime.get_type_display == 'Фильм' %}
                            <p class="p-item p-item-color">Студия</p>
                            <p class="p-item p-item-color">Автор</p>
                        {% else %}
                            <p class="p-item p-item-color">Студия</p>
                        {% endif %}
                        <p class="p-item p-item-color">Возрастные ограничения</p>
                    </div>
                    <div class="main-block-anime-detail-right-main-right">
                        <p class="p-item">{{ anime.get_type_display }}</p>
                        {% if anime.get_type_display == 'Сериал' %}
                            <p class="p-item">{{ anime.episodes }}</p>
                        {% else %}
                            <p class="p-item">{{ anime.duration }}</p>
                        {% endif %}
                        <p class="p-item">{{ anime.get_status_display }}</p>
                        <p class="p-item">{{ anime.year }}</p>
                        <p class="p-item">{{ anime.genres.all|join:", " }}</p>
                        {% if anime.get_type_display == 'Фильм' %}
                            <p class="p-item">{{ anime.studia }}</p>
                            <p class="p-item">{{ anime.author }}</p>
                        {% else %}
                            <p class="p-item">{{ anime.studia }}</p>
                        {% endif %}
                        <p class="p-item">{{ anime.get_age_restrictions_display }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-block-anime-detail-bottom">
            <p class="main-block-anime-detail-bottom-desc">{{ anime.description_full }}</p>
            <h2 class="main-block-anime-detail-bottom-h2">Кадры</h2>
            <div class="main-block-anime-detail-bottom-block-img">
                {% for short in anime_shorts %}
                <img class="main-block-anime-detail-bottom-block-img-screen" src="{{ short.image.url }}"
                    alt="Logo">
                {% endfor %}
            </div>
        </div>
        <div class="main-block-anime-detail-bottom">
            <h2 class="main-block-anime-detail-bottom-h2">Комментарии</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-outline">
                    {{ form.content }}
                </div>
                <br>
                <button type="submit" class="btn btn-success">Отправить</button>
            </form>
            <br>
            {% for comm in comments %}
            <div class="main-block-anime-detail-bottom-comment">
                <div class="img_obertka">
                    <img class="main-block-anime-detail-bottom-comment-img" src="{{ comm.author.image.url }}"
                        alt="Logo">
                </div>
                <div class="main-block-anime-detail-bottom-comment-content">
                    <div class="main-block-anime-detail-bottom-comment-content-namedata">
                        <a class="main-block-anime-detail-bottom-comment-content-name" href="#">{{ comm.author.username }}</a>
                        <p class="main-block-anime-detail-bottom-comment-content-data">{{ comm.date_created }}</p>
                    </div>
                    <p class="main-block-anime-detail-bottom-comment-content-text">{{ comm.content }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}

{% block jsc %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
{% endblock jsc %}

        