<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnimeOne</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="wrapper">
            <a class="header-logo" href="#">AnimeOne</a>
            <ol class="header-menu-index">
                <li><a href="" class="header-menu-item">Аниме</a></li>
                <li><a href="" class="header-menu-item">Манга</a></li>
                <li><a href="" class="header-menu-item">Ранобэ</a></li>
                <li><a href="" class="header-menu-item">Новости</a></li>
            </ol>
            <div class="header-icons">
                <a href="#"><img class="header-icons-icon" src="img/icons/search.svg" alt="Search"></a>
                <a href="#"><img class="header-icons-icon" src="img/icons/profile.png" alt="Profile"></a>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="main-block-title">
            <div class="wrapper">
                <div class="main-block-inner">
                    <h1 class="block-title-h">AnimeOne - бесплатный каталог ваших просмотренных аниме!</h1>
                    <p class="block-title-p">Аниме - это искусство японской анимации предназначенной в основном для
                        подростков и лиц более
                        старшего возраста. Именно поэтому японское аниме завоевала огромную популярность во всём мире.
                    </p>
                    <br>
                    <p class="block-title-p">Теперь вы немного знаете о том, что такое аниме. А теперь я предлагаю вам
                        окунуться с головой и
                        отправиться в волшебный мир
                        аниме. Я обещаю вам, что этот мир вам обязательно понравится и вы сможете найти жанр, который
                        будет вам особенно интересен.</p>
                </div>
            </div>
        </div>
        <div class="main-block-new-anime">
            <div class="wrapper">
                <div class="main-block-inner">
                    <h1 class="block-title-h">Новинки аниме</h1>
                    <div class="main-block-new-anime-row">
                        <div class="main-block-new-anime-row-card">
                            <img class="main-block-new-anime-row-card-img" src="img/small-posters/dr-stone.jpg"
                                alt="Logo">
                            <a class="main-block-new-anime-row-card-a" href="#">Доктор Стоун</a>
                        </div>
                        <div class="main-block-new-anime-row-card">
                            <img class="main-block-new-anime-row-card-img" src="img/small-posters/dr-stone.jpg"
                                alt="Logo">
                            <a class="main-block-new-anime-row-card-a" href="#">Доктор Стоун</a>
                        </div>
                        <div class="main-block-new-anime-row-card">
                            <img class="main-block-new-anime-row-card-img" src="img/small-posters/dr-stone.jpg"
                                alt="Logo">
                            <a class="main-block-new-anime-row-card-a" href="#">Доктор Стоун Новый мир</a>
                        </div>
                        <div class="main-block-new-anime-row-card">
                            <img class="main-block-new-anime-row-card-img" src="img/small-posters/dr-stone.jpg"
                                alt="Logo">
                            <a class="main-block-new-anime-row-card-a" href="#">Доктор Стоун</a>
                        </div>
                        <div class="main-block-new-anime-row-card">
                            <img class="main-block-new-anime-row-card-img" src="img/small-posters/dr-stone.jpg"
                                alt="Logo">
                            <a class="main-block-new-anime-row-card-a" href="#">Доктор Стоун</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-block-popular-anime">
            <div class="wrapper">
                <div class="main-block-inner">
                    <h1 class="block-title-h">Популярные аниме</h1>
                    <div class="main-block-new-anime-row">
                        <div class="main-block-new-anime-row-card">
                            <img class="main-block-new-anime-row-card-img" src="img/small-posters/dr-stone.jpg"
                                alt="Logo">
                            <a class="main-block-new-anime-row-card-a" href="#">Доктор Стоун</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="wrapper">
            <a href="#" class="footer-title">AnimeOne</a>
        </div>
    </footer>
</body>

</html>