{% extends "catalog/base.html" %}
{% load static %}

{% block menu %}
    <ol class="header-menu-index">  
{% endblock %}

{% block content %}
<div class="main-block-title">
    <div class="wrapper">
        <div class="main-block-inner">
            <h1 class="block-title-h">AnimeOne - бесплатный каталог ваших просмотренных аниме!</h1>
            <p class="block-title-p">Аниме - это искусство японской анимации предназначенной в основном для
                подростков и лиц более
                старшего возраста. Именно поэтому японское аниме завоевала огромную популярность во всём мире.
            </p>
            <br>
            <p class="block-title-p">Теперь вы немного знаете о том, что такое аниме. А теперь я предлагаю вам
                окунуться с головой и
                отправиться в волшебный мир
                аниме. Я обещаю вам, что этот мир вам обязательно понравится и вы сможете найти жанр, который
                будет вам особенно интересен.</p>
        </div>
    </div>
</div>
<div class="main-block-new-anime">
    <div class="wrapper">
        <div class="main-block-inner">
            <h1 class="block-title-h">Новинки аниме</h1>
            <div class="main-block-new-anime-row">
                {% for anime_last in anime_list.last_anime %}
                <div class="main-block-new-anime-row-card">
                    <img class="main-block-new-anime-row-card-img" src="{{anime_last.poster_image.url}}"
                        alt="Logo">
                    <a class="main-block-new-anime-row-card-a" href="#">{{anime_last.title}}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="main-block-popular-anime">
    <div class="wrapper">
        <div class="main-block-inner">
            <h1 class="block-title-h">Популярные аниме</h1>
            <div class="main-block-new-anime-row">
                {% for anime_top in anime_list.top_anime %}
                <div class="main-block-new-anime-row-card">
                    <img class="main-block-new-anime-row-card-img" src="{{anime_top.poster_image.url}}"
                        alt="Logo">
                    <a class="main-block-new-anime-row-card-a" href="#">{{anime_top.title}}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}